@import "tailwindcss";

@theme {
  --color-primary: #cdae5f;
  --color-primary-light: #e1c98a;
  --color-primary-dark: #a88e4b;

  --color-secondary: #17323f;
  --color-secondary-light: #284e61;
  --color-secondary-dark: #0d1e27;

  --color-accent: #317b3c;
  --color-accent-light: #4c9d58;
  --color-accent-dark: #1f5227;

  --color-background: #f8fafc;
  --color-surface: #ffffff;
}

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f1f5f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
